/* fonts */
@font-face{
	font-family:OleoScript-Regular;
	src: url("../fonts/OleoScript-Regular.ttf") format("truetype");
}
@font-face{
	font-family:Chicle-Regular;
	src: url("../fonts/Chicle-Regular.ttf") format("truetype");
}

body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	width:100vw;
	background:;
}
*{
	font-family:Chicle-Regular;
}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
}
div.form-wrapper{
	border:hidden;
	width:40vw;
	border-radius:;
	margin:5% auto;
	box-sizing:border-box;
	position:relative;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:5px 5px 25px lightgrey;
}
div.form-wrapper header{
    width:100%;
    border:hidden;
    background:#57b846;
    padding:10px;
    box-sizing:border-box;
}
div.form-wrapper .input-wrapper{
	padding:40px;
}
div.form-wrapper .input{
	border:hidden;
}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:1.8vw;
    height:50px;
    box-sizing:border-box;
    padding:5px;
    outline:none;
    border-radius:15px;
    border:none;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit{
	border:hidden;
	width:100%;
	height:auto;
	box-sizing:border-box;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:2vw;
    height:50px;
    outline:none;
    background:#57b846;
    border:none;
    border-radius:15px;
    color:white;
    letter-spacing:5px;
}
div.form-wrapper .submit input[type=submit]:hover{
	background:rgba(87, 184, 70,.9);
}
label{
    text-align:center;
    font-size:1.5vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
/*=========================== Media queries for small medium and large devices ===================*/

/*======================================== start =================================================*/
@media (max-width:320px){
body{
		background:;
	}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
	font-size:7vw;
}
div.form-wrapper{
	border:hidden;
	width:95vw;
}
div.form-wrapper header{
    width:100%;
    padding:10px;
}
div.form-wrapper .input-wrapper{
	padding:20px;

}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:6.5vw;
    height:50px;
    box-sizing:border-box;
    padding:2px;
    outline:none;
    border-radius:15px;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:6.5vw;
    letter-spacing:3px;
}
label{
    text-align:center;
    font-size:5vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
}
/*================================================== end ==========================================*/


/*================================================== start ========================================*/
@media (min-width:321px) and (max-width:375px){
	body{

	}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
	font-size:7vw;
}
div.form-wrapper{
	border:hidden;
	width:95vw;
}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:6.5vw;
    height:50px;
    box-sizing:border-box;
    padding:2px;
    outline:none;
    border-radius:15px;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:6.5vw;
    letter-spacing:3px;
}
label{
    text-align:center;
    font-size:5vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
}
/*====================================================== end ========================================*/


/*======================================================= start ===================================*/
@media (min-width:376px) and (max-width:425px){
	body{

	}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
	font-size:7vw;
}
div.form-wrapper{
	border:hidden;
	width:95vw;
}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:6.5vw;
    height:50px;
    box-sizing:border-box;
    padding:2px;
    outline:none;
    border-radius:15px;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:6.5vw;
    letter-spacing:3px;
}
label{
    text-align:center;
    font-size:4vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
}
/*==================================================== end ==========================================*/


/*======================================================== start ==================================*/
@media (min-width:425px) and (max-width:768px){
	body{

	}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
	font-size:5vw;
}
div.form-wrapper{
	border:hidden;
	width:80vw;
}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:4vw;
    height:50px;
    box-sizing:border-box;
    padding:10px;
    outline:none;
    border-radius:15px;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:4vw;
    letter-spacing:3px;
    padding:10px;
}
label{
    text-align:center;
    font-size:3vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
}
/*======================================================== end ==================================*/


/*============================================= start ==========================================*/
@media (min-width:769px) and (max-width:1024px){
	body{

	}
h1{
	text-align:center;
	color:white;
	line-height:.6;
	letter-spacing:4px;
	font-size:6vw;
}
div.form-wrapper{
	border:hidden;
	width:60vw;
}
div.form-wrapper .input input[type=text]{
    width:100%;
    font-size:3vw;
    height:50px;
    box-sizing:border-box;
    padding:10px;
    outline:none;
    border-radius:15px;
    padding-left:15px;
    background:lightgrey;
    letter-spacing:2px;
}
div.form-wrapper .submit input[type=submit]{
    width:100%;
    font-size:3vw;
    letter-spacing:3px;
    padding:10px;
}
label{
    text-align:center;
    font-size:3vw;
    letter-spacing:2px;
    color:#57b846;
}
hr{
    border:1px solid #57b846;
}
}
/*================================================= end=============================================*/
